@tailwind base;
@tailwind components;
@tailwind utilities;

/* MUI + Tailwind may both style, this file contains global resets if needed */
html,
body {
  height: 100%;
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit; /* <- prevents hard-coded black in dark mode */
}
